service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.is_admin == true
    }

    match /posts/{post_id} {
      allow read: if resource.data.is_public == true;
    }
    match /posts/{post_id} {
      allow read, write: if isAdmin();
    }
    match /digests/{post_id} {
      allow read: if isAdmin() || (resource.data.is_public == true);
    }
    match /comments/{comment_id} {
      allow read, create;
    }
    match /comments/{comment_id} {
      allow read, write: if isAdmin();
    }
  }
}