service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.is_admin == true
    }

    match /{allPaths=**} {
      allow read, write: if isSignedIn();
    }
    match /public/{filename} {

    	allow read;
      allow write: if isAdmin();
    }
  }
}