.blog_post {
  padding: 10px;
  margin: 30px 10px;
  border: 1px solid #cccccc;
}
.blog_post_body h1 {
  font-size: 56px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.04em;
  margin: 0.3em 0;
}
.blog_post_body h2 {
  font-size: 44px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.04em;
  margin: 0.3em 0;
}
.blog_post_body h3 {
  font-size: 38px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.04em;
  margin: 0.3em 0;
}
.blog_post_body h4 {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.04em;
  margin: 0.3em 0;
}
.blog_post_body h5 {
  font-size: 24px;
  font-weight: 450;
  line-height: 1.2;
  letter-spacing: -0.04em;
  margin: 0.3em 0;
}
.blog_post_body h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.04em;
  margin: 0.3em 0;
}
.blog_post_body h7 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.04em;
  margin: 0.3em 0;
}