.blog_post
  padding 20px
  margin 25px 25px

.blog_post_title
  font-size 48px
  letter-spacing -0.02em

.blog_post_date
  font-size 12px
  color #777

.blog_post_tags, .blog_post_actions
  font-size 16px
  margin-top 10px

.blog_post_body
  line-height 1.7
  letter-spacing -0.02em
  margin 2em 0
  >>> h1, >>> h2, >>> h3, >>> h4, >>> h5, >>> h6
    line-height 1.1
    letter-spacing -0.05em
    margin 0.1em 0
  >>> h1
    font-size 56px
    font-weight 400
  >>> h2
    font-size 48px
    font-weight 400
  >>> h3
    font-size 40px
    font-weight 450
  >>> h4
    font-size 34px
    font-weight 450
  >>> h5
    font-size 28px
    font-weight 500
  >>> h6
    font-size 23px
    font-weight 500
  >>> code
    padding-left 5px
    padding-right 5px
    background-color #edf
  >>> pre
    padding-top 5px
    padding-bottom 5px
    margin-top 0
    margin-bottom 0.5em
    color #fff
    background-color #84a
  >>> pre code
    background-color transparent
    padding-left 0
    padding-right 0
  >>> ol, >>> ul
    margin-bottom 0.5em
  >>> hr
    color #caf
    margin 0.3em 0